#titulo{
    color: green;
}

#paragrafo1{
    color: blue;
}

#paragrafo2{
    color: brown;
}

#subtitulo{
    color:darkorchid;
}

#paragrafo3{
    color: aqua;
}

#paragrafo4{
    color: lime;
}

#paragrafo5{
    color: orange;
}

#paragrafo6{
    color: gold;
}